/* Sidhuvudet */
header {
  background-color: #1abc9c;
  color: white;
  font-weight: bold;
  display: flex;       /* FÃ¶rÃ¤lder till nav */
  align-items: center; /* Centrerar text pÃ¥ hÃ¶jden */
  padding: 6px 6px ;    /* Shorthand uppe & nere, vÃ¤nster & hÃ¶ger */
}
header a {
  text-decoration: none; /* bort med underline */
  color: white; /* Vita lÃ¤nkar */
}
#logo {
  /* Fallback fÃ¶r ifall anvÃ¤ndaren har bilder avstÃ¤ngda */
  font-size: xx-large; line-height: 1.8em;
}

/* Navigationen */
nav {
  margin-left: auto;
}
nav ul {
  margin: 0px 20px; /* bort med top bottom margin men dra in frÃ¥n hÃ¶ger */
}
nav li {
  list-style-type: none; /* ta bort bollarna innan li elementen */
  float: left;    /* Horizontell meny */
  padding: 10px;  /* FÃ¶r hover effekten */
  margin: 0px 5px; /* FÃ¶r att space apart vÃ¥ra hover bollar */
  border-radius: 5px;
}
nav li:hover {
  background-color: #00AA89;
}

/* AllmÃ¤nna stilar fÃ¶r sajten */
body {
  margin: 0; /* bort med inbyggd marginal */
  /* Fallback fonter */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
article {
  padding: 10px;
  margin: 10px;
}