/* Sidhuvudet */
header {
  background-color: rgb(26, 50, 188);
  color: white;
  font-weight: bold;
  display: flex;       /* FÃ¶rÃ¤lder till nav */
  align-items: center; /* Centrerar text pÃ¥ hÃ¶jden */
  padding: 6px 6px ;    /* Shorthand uppe & nere, vÃ¤nster & hÃ¶ger */
}
header a {
  text-decoration: none; /* bort med underline */
  color: white; /* Vita lÃ¤nkar */
}
#logo {
  /* Fallback fÃ¶r ifall anvÃ¤ndaren har bilder avstÃ¤ngda */
  font-size: xx-large; line-height: 1.8em;
}

/* Navigationen */
nav {
  margin-left: auto;
}
nav ul {
  margin: 0px 20px; /* bort med top bottom margin men dra in frÃ¥n hÃ¶ger */
}
nav li {
  list-style-type: none; /* ta bort bollarna innan li elementen */
  float: left;    /* Horizontell meny */
  padding: 10px;  /* FÃ¶r hover effekten */
  margin: 0px 5px; /* FÃ¶r att space apart vÃ¥ra hover bollar */
  border-radius: 5px;
}
nav li:hover {
  background-color: #00AA89;
}

/* AllmÃ¤nna stilar fÃ¶r sajten */
body {
  margin: 0; /* bort med inbyggd marginal */
  /* Fallback fonter */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
article {
  padding: 10px;
  margin: 10px;
}

.ad {
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  display: inline-block;
  border: 5px solid #1e1ca5;
  margin: 20px;
  padding: 10px;
  background-color: rgb(179, 156, 243);
}

.registerlist {
  margin: auto;
  list-style-type: none;
  text-shadow: 1px 1px white;
}
.registerlist li {
  font-size: medium;
  margin: 10px 5px;
}
.registerlist h4 {
  color: gray;
  font-size: medium;
}
.registerlist input {
  width: 300px;
  height: 30px;
  background-color: rgb(255, 231, 234);
  border-right: 1px solid;
}
.registerlist textarea {
  width: 350px;
  height: 120px;
  background-color: rgb(255, 231, 234);
  border-right: 1px solid;
}


.reqform {
  margin: auto;
}
.butlabel {
  size: small;
  text-align: left;
}
.container {
  width: 800px;
  background-color: rgb(108, 214, 200);
}
.container h2 {
  padding: 30px 50px;
}
.profiledisp h2 {
  padding: 30px 50px;
}
.box {
  border-style: solid;
  border-color: #3d3d3d;
  border-width: 4px;
}
.comment {
  width: 300px;
  border-style: solid;
  border-color: #ffccfc;
  border-width: 4px;
}